<h1><%= @question.title %></h1>

<h3>Description:
<br/>
<%= @question.description %>
</h3>
<br/>

<h3>Answers:</h3>
<% if @answers.blank? %>
  <h4>No one has answered yet! Maybe you can?</h4>
<% else %>
  <ul>
    <% @answers.each do |answer| %>
      <li><%= answer.body %></li>
    <% end %>
  </ul>
<% end %>

<h3>Add An Answer:</h3>

<%= render 'answers/form', answer: @answer %>

<%= link_to 'Home', '/' %> | <%= link_to 'Submit a Question', new_question_path %> | <%= link_to 'Edit this Question', edit_question_path %>
| <%= link_to "Delete this Question", @question, method: :delete, data: { confirm: 'Are you sure?' } %>
